@using Microsoft.AspNetCore.Components.Routing
@using MagicOperations.Extensions

@inherits OperationListingRenderer
@inject NavigationManager NavigationManager

<h2>Operations</h2>

@foreach (var schemaGroup in Configuration.OperationGroups.Values.OrderBy(x => x.DisplayName))
{
    <details>
        <summary>@schemaGroup.DisplayName</summary>
        <p>
            <ul>
                @foreach (var schema in schemaGroup.Operations)
                {
                    string uri = NavigationManager.BuildCurrentPageRelativeUri(schema.GetDefaultPath());

                    <li>
                        <b>@(schema.DisplayName):</b> <NavLink href="@uri">@schema.GetFullPath()</NavLink>
                    </li>
                }
            </ul>
        </p>
    </details>
}