/*https://w3generator.com/scrollbar*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-warning);
    }

::-webkit-scrollbar-track {
    visibility: hidden;
    border-radius: 0;
}