@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits CreateOperationRenderer<TOperation, TResponse>

<h2>@OperationSchema.DisplayName</h2>
<a href="@BasePath">Go back</a>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
    @*<MagicModel Model="ErrorModel" Context="this" />*@
}
else
{
    if (IsCreated)
    {
        <p>Created @(ResponseModel?.ToString() ?? string.Empty)</p>
        return;
    }

    <MagicModel Model="OperationModel" Context="this" IsWrite="true" />

    <button @onclick="CreateAsync">Create</button>
}
