@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits DeleteOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsDeleted)
    {
        <p>Deleted @(ResponseModel?.ToString() ?? string.Empty)</p>

        NavigationManager.NavigateTo(GetRouteToRealtedOperation(typeof(GetAllOperationRenderer<,>)));
        return;
    }

    <p>Are you sure to delete this @(OperationSchema.Group.DisplayName)?</p>

    <MagicModel Model="OperationModel" Context="this"/>

    <button @onclick="DeleteAsync">Delete</button>
    <button @onclick="() => NavigationManager.NavigateTo(Configuration.PanelPath)">Cancel</button>
}
