@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits DetailsOperationRenderer<TOperation, TResponse>

<h2>@Context.Schema.DisplayName</h2>

@if (Context.IsPanelPath)
{
    <a href="@Configuration.PanelPath">Go back</a>
}

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    <MagicModel Model="ResponseModel" Context="this" />
}
