@using Components.OperationRenderers
@using MagicOperations.Interfaces
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits GetAllOperationRenderer<TOperation, TResponse>

@inject ISerializer Serializer

<h2>@OperationSchema.DisplayName</h2>

@if (IsPanelPath)
{
    <a href="@Configuration.PanelPath">Go back</a>
}

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else if (ResponseModel is null)
{
    <p>Loading...</p>
}
else
{
    <MagicModel Model="ResponseModel" Context="this" />
}