@using System.Collections
@using Components.OperationRenderers
@using MagicOperations.Interfaces

@typeparam TOperation
@typeparam TResponse
@inherits GetAllOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager
@inject ISerializer Serializer

<h2>@OperationSchema.DisplayName</h2>
<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Go back</button>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else if (ResponseModel is null)
{
    <p>Loading...</p>
}
else if (ResponseModel is IEnumerable enumerableList)
{
    <table>
        <thead>
            <tr>
                <th>Param</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (object item in enumerableList)
            {
                <tr>
                    <td>Base API path</td>
                    <td>
                        <MagicModel Model="item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Serializer.Serialize(ResponseModel)

    <p>List does not implement IEnumerable</p>
}