@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits GetPagedOperationRenderer<TOperation, TResponse>

<h2>@OperationSchema.DisplayName</h2>

@if (!IsBasePath)
{
    <a href="@BasePath">Go back</a>
}

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else if (ResponseModel is null)
{
    <p>Loading...</p>
}
else
{
    <MagicModel Model="ResponseModel" Context="this" />
}