@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits GetPagedOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>
<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Go back</button>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else if (ResponseModel is null)
{
    <p>Loading...</p>
}
else
{
    <MagicModel Model="ResponseModel" Context="this" />
}