@using Components.OperationRenderers
@using MagicModels.Components

@typeparam TOperation
@typeparam TResponse
@inherits UpdateOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsUpdated)
    {
        <p>Updated @(ResponseModel?.ToString() ?? string.Empty)</p>
        return;
    }

    <MagicModel Model="OperationModel" Context="this" IsWrite="true" />
}

<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Cancel</button>