@if (IsEntityListing)
{
    <h3>Entity listing</h3>

    @foreach (var element in Configuration.OperationGroups.Values)
    {
        @foreach (var operation in element.GetOperations())
        {
           <p>@Configuration.BaseApiPath  @element.OperationPath @operation.Template</p>
        }
    }
}
else
{
    <h3>@Entity @Operation @Args </h3>
}
