@inherits PropertyRenderer<Guid?>

@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@inject IMediaService MediaService

<p>
    <b>@(PropertySchema.DisplayName):</b>

    @if (MediaDetails is not null)
    {
        <img id="i-@MediaDetails.Id" src="@($"{ApplicationConfiguration.Value.ApiUrl}media/file/{MediaDetails.VirtualDirectory}")" alt="@MediaDetails.Alt" title="@MediaDetails.Title" />
    }
</p>

@code
{
    MediaItemDetails? MediaDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        MediaDetails = await MediaService.GetMediaDetails(Value);
    }
}