@inherits PropertyRenderer<string>

@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@inject IMediaService MediaService

<p>
    <span>@PropertySchema.DisplayName</span>

    @if (MediaDetails is not null)
    {
        <img id="i-@MediaDetails.Id" src="@($"{ApplicationConfiguration.Value.ApiUrl}media/file/{Value}")" alt="@MediaDetails?.Alt" title="@MediaDetails.Title" />
    }
</p>

@code
{
    MediaItemDetails? MediaDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        MediaDetails = await MediaService.GetMediaDetails(Value);
    }
}