@inherits PropertyRenderer<string>

@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@inject IMediaService MediaService

<td>
    <img id="i-@MediaDetails?.Id" src="@($"{ApplicationConfiguration.Value.ApiUrl}media/file/{Value}")" alt="@MediaDetails?.Alt" title="@MediaDetails?.Title" />
</td>

@code
{
    MediaItemDetails? MediaDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        MediaDetails = await MediaService.GetMediaDetails(Value);
    }
}