@namespace RestCRUD.Form.Components.Plain

@typeparam T
@inherits RestCRUD.Form.Components.Plain.InputCheckboxMultipleComponent<T>

<div class="d-flex flex-column">
    <CascadingValue Value="@this" Name="InputCheckboxMultiple">
        @ChildContent
    </CascadingValue>
</div>