@page "/"
@namespace AdsPortal.WebPortal.Pages

@using Microsoft.Extensions.Options;
@using AdsPortal.WebPortal.Configurations;

@inject IOptions<ManagementUIConfiguration> ApplicationConfiguration

@using AdsPortal.WebPortal.Helpers

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

@{
    string iconPath = ApplicationConfiguration.Value.IconPath ?? string.Empty;
    string iconAssetPath = MediaHelper.AsAsset(iconPath, AssetTypes.Image);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ApplicationConfiguration.Value.Name</title>
    <base href="~/" />

    <link href="~/assets/manifest.json" rel="manifest" asp-append-version="true"/>

    <link rel="shortcut icon" href="@iconAssetPath" asp-append-version="true">
    <link rel="icon" type="image/png" href="@iconAssetPath" sizes="512x512" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="512x512" href="@iconAssetPath" asp-append-version="true">

    <link href="~/assets/css/styles.css" rel="stylesheet" asp-append-version="true" />
</head>

<body id="body" class="dark">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js" asp-append-version="true"></script>
</body>
</html>
