@page "/"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Home</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <MagicOperation Path="@("advertisement/get-paged/filtered?Page=0&EntiresPerPage=10")" />
        </div>
    </div>

</section>
