@page "/login"

@using Application.Models.User

<section>
    <div class="row">
        <div class="col-12">
            <h1>Login</h1>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <MagicModel Model="@(new AuthenticateUser())" IsWrite="true" />
        </div>
    </div>

</section>
