@page "/login"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Login</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>READ</h2>
            <MagicModel Model="@(new Application.Models.TestModel())" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>WRITE</h2>
            <MagicModel Model="@(new Application.Models.TestModel())" IsWrite="true" />
        </div>
    </div>

</section>
