@page "/panel"
@page "/panel/{*Args}"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Management Panel</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <MagicOperationRouter ArgsFallback="@Args" />
        </div>
    </div>
</section>

@code
{
    [Parameter]
    public string? Args { get; set; }
}