@page "/register"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Login</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <MagicOperation Path="@("user/create")"/>
        </div>
    </div>

</section>
