@page "/test"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Available examples</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="button">Default</a>
            <a class="button primary">Primary</a>
            <a class="button secondary">Secondary</a>
            <a class="button dark">Dark</a>
            <a class="button error">Error</a>
            <a class="button success">Success</a>
            <a class="button outline">Outline</a>
            <a class="button outline primary">Primary outline</a>
            <a class="button outline secondary">Secondary outline</a>
            <a class="button outline dark">Dark outline</a>
            <a class="button outline error">Error outline</a>
            <a class="button outline success">Success outline</a>
            <a class="button clear">Clear</a>
            <button type="button" class="button primary icon">
                New file
                <i class="fab fa-facebook"></i>
            </button>
            <button class="button icon-only">
                <i class="fab fa-facebook"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <WaveLoader />
            <WaveLoader IsAlternativeColor="true" />

            <MagicModel Model="@(new CreateCategory() { Name = "This is just a MagicModel test."})" IsWrite="false" />
        </div>
    </div>

</section>
