@import "../libraries/chota/dist/chota.min.css";
@import "../libraries/font-awesome/css/all.min.css";

@import "c-progress.css";
@import "c-dots-wave-loader.css";
@import "img-zoom-in-out.css";
@import "custom-scrollbars.css";

@import "c-blazored-toast.css";
@import "c-top-scroller.css";
@import "c-box.css";
@import "c-table.css";
@import "c-tabs.css";
@import "m-header.css";
@import "m-footer.css";

body {
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-size-small-multiplier: .82;
    --font-size-tiny-multiplier: .7;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

    body.dark {
        /*Chota overrides*/
        --bg-color: #1f2227;
        --bg-secondary-color: #15191c;
        --page-column-bg-color: #292e32;
        --font-color: #f2f2f3;
        --color-lightGrey: #f2f2f3;
        --color-grey: #789aff;
        --color-darkGrey: #15191c;
        --color-primary: #ffc801;
        --color-success: #28cc97;
        --color-error: #f43f57;
        --color-warning: #ffa500;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.is-invisible {
    visibility: hidden;
}

.container {
    padding: 0;
}

    .container.container-bg {
    }

        .container.container-bg main {
            padding: 3rem;
            margin-bottom: 3rem;
            background-color: var(--page-column-bg-color);
        }

.card {
    box-shadow: none;
    border-radius: 0;
}

section {
    margin: 5rem auto;
}

hr {
    margin: 2.75rem 0;
    background-color: transparent;
    border-top: 1px dashed var(--color-lightGrey);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

code,
kbd {
    color: var(--color-error);
}

blockquote code,
blockquote kbd {
    background-color: var(--page-column-bg-color);
}

#grid .card {
    padding: 1rem 0rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(26, 159, 96, 0.2);
    font-size: 1.2rem;
}

.dropdown + .button {
    margin-left: 1rem
}

    .dropdown + .button.is-small,
    .dropdown + .button.is-medium,
    .dropdown + .button.is-large {
        margin-left: 0.5rem
    }

.button + .button {
    margin-left: 1rem
}

    .button + .button.is-small,
    .button + .button.is-medium,
    .button + .button.is-large {
        margin-left: 0.5rem
    }

button:focus {
    outline: none;
}

.button.outline.error {
    border-color: var(--color-error);
    color: var(--color-error);
}

.button.is-small {
    padding: 0.4rem;
    font-size: 0.75em;
}

.button.is-medium {
    padding: 0.55rem;
    font-size: 0.85em;
}

.button.is-large {
    padding: 0.7rem;
    font-size: 1.125em;
}

.tag.new-example-tag {
    margin-right: 1rem;
}

.text-small {
    font-size: calc(var(--font-size) * var(--font-size-small-multiplier));
}

.text-tiny {
    font-size: calc(var(--font-size) * var(--font-size-tiny-multiplier));
}

.bg-warning {
    background-color: var(--color-warning) !important;
}

.break-word {
    word-break: break-word;
}

.no-wrap {
    white-space: nowrap;
}

.break-anywhere {
    line-break: anywhere;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"] {
    color: var(--font-color);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-secondary-color);
}
