@inherits PropertyRenderer<Guid>

<p>
    <span>@PropertySchema.DisplayName</span>

    @{
        string updatePath = string.Empty;
        string deletePath = string.Empty;

        if (Context is IOperationRenderer operationRenderer)
        {
            updatePath = operationRenderer.GetRouteToRealtedOperation(typeof(UpdateOperationRenderer<,>), new Dictionary<string, string> { { "Id", Value.ToString() } });
            deletePath = operationRenderer.GetRouteToRealtedOperation(typeof(DeleteOperationRenderer<,>), new Dictionary<string, string> { { "Id", Value.ToString() } });
        }
    }

    <NavLink class="button outline secondary is-medium icon-only" title="Edit" href="@updatePath">Edit <i class="fas fa-pencil-alt"></i></NavLink>
    <NavLink class="button outline error is-medium icon-only" title="Delete" href="@deletePath"><i class="fas fa-trash"></i></NavLink>
</p>