@inherits PropertyRenderer<Guid>

<td>
    <NavLink class="button primary" href="@($"panel/category/details/{Value}")">Details</NavLink>
    <NavLink class="button secondary" href="@($"panel/category/update/{Value}")"><i class="fas fa-pencil-alt"></i></NavLink>
    <NavLink class="button error" href="@($"panel/category/delete/{Value}")"><i class="fas fa-trash"></i></NavLink>
</td>