@inherits PropertyRenderer<bool>

@if (IsWrite)
{
    <label>
        @PropertySchema.DisplayName
        <InputCheckbox @bind-Value="Value" />
    </label>
}
else
{
    <p><b>@(PropertySchema.DisplayName):</b> @Value</p>
}

