@inherits PropertyRenderer<DateTime>

@if (IsWrite)
{
    <label>
        @PropertySchema.DisplayName
        <InputDate @bind-Value="Value" />
    </label>
}
else
{
    <p>@PropertySchema.DisplayName: @Value.ToLongDateString() @Value.ToLongTimeString()</p>
}

