@inherits PropertyRenderer<string>

@if (IsWrite)
{
    <label>
        @PropertySchema.DisplayName
        <InputText type="password" @bind-Value="Value" />
    </label>
}
else
{
    <p><b>@(PropertySchema.DisplayName):</b> ********</p>
}