@inherits PropertyRenderer<string>

@if (IsWrite)
{
    <label>
        @PropertySchema.DisplayName
        <InputText @bind-Value="Value" />
    </label>
}
else
{
    <p><b>@(PropertySchema.DisplayName):</b>  @Value</p>
}