@inherits PropertyRenderer<int>

@if (IsWrite)
{
    <td>
        <label>
            @PropertySchema.DisplayName
            <InputNumber @bind-Value="Value" />
        </label>
    </td>
}
else
{
    <td>@Value</td>
}

