@using Microsoft.AspNetCore.Components.Routing
@using MagicOperations.Extensions

@inherits OperationListingRenderer
@inject NavigationManager NavigationManager

<h2>Operations</h2>

@foreach (var schemaGroup in Configuration.OperationGroups.Values.OrderBy(x => x.DisplayName))
{
    <p>@schemaGroup.DisplayName</p>
    <ul>
        @foreach (var schema in schemaGroup.Operations)
        {
            string uri = NavigationManager.BuildCurrentPageRelativeUri(schema.GetFullPath());

            <li>
                <NavLink href="@uri">@uri</NavLink>
            </li>
        }
    </ul>
}