@using Microsoft.AspNetCore.Components.Routing
@using MagicOperations.Extensions

@inherits OperationListingRenderer
@inject NavigationManager NavigationManager

<h2>Operation listing</h2>

@foreach (var schemaGroup in Configuration.OperationSchemas.GroupBy(x => x.Group).OrderBy(x => x.Key.DisplayName))
{
    <p>@schemaGroup.Key.DisplayName</p>
    <ul>
        @foreach (var schema in schemaGroup)
        {
            string uri = NavigationManager.BuildCurrentPageRelativeUri(schema.GetFullPath());

            <li>
                <NavLink href="@uri">@uri</NavLink>
            </li>
        }
    </ul>
}