@using Components.OperationRenderers

@inherits CreateOperationRenderer

<h3>CreateDefaultRenderer</h3>

@if (Errors is not null)
{
    <p>@Errors.ToString()</p>
}
else
{
    <EditForm Model="Model">
        @foreach (var fragment in RenderFragments)
        {
            @fragment
        }
    </EditForm>

    <button @onclick="CreateAsync">Create</button>
    @*TODO: how to send update from property renderer to operation renderer*@
}