@using Components.OperationRenderers

@typeparam TOperation
@typeparam TResponse
@inherits CreateOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>
<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Go back</button>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsCreated)
    {
        <p>Created @(ResponseModel?.ToString() ?? string.Empty)</p>
        return;
    }

    <MagicModel Model="OperationModel" IsWrite="true" />

    <button @onclick="CreateAsync">Create</button>
}
