@using Components.OperationRenderers

@inherits CreateOperationRenderer

<h3>CreateDefaultRenderer</h3>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsCreated)
    {
        <p>Created</p>
        return;
    }

    <EditForm Model="OperationModel">
        @RenderItem()
    </EditForm>

    <button @onclick="CreateAsync">Create</button>
}