@using Components.OperationRenderers

@inherits CreateOperationRenderer

<h3>CreateDefaultRenderer</h3>

@if (Errors is not null)
{
    <p>@Errors.ToString()</p>
}
else
{
    if (IsCreated)
    {
        <p>Created</p>
        return;
    }

    <EditForm Model="Model">
        @foreach (var fragment in RenderFragments)
        {
            @fragment
        }
    </EditForm>

    <button @onclick="CreateAsync">Create</button>
}