@using Components.OperationRenderers

@typeparam T
@inherits CreateOperationRenderer<T>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>
<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Go back</button>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsCreated)
    {
        <p>Created</p>
        return;
    }

    <EditForm Model="OperationModel">
        @RenderItem()
    </EditForm>

    <button @onclick="CreateAsync">Create</button>
}
