@using Components.OperationRenderers

@inherits DeleteOperationRenderer

<h3>DeleteDefaultRenderer</h3>

@if (Errors is not null)
{
    <p>@Errors.ToString()</p>
}
else
{
    <p>Are you sure to delete this object?</p>

    @foreach (var fragment in RenderFragments)
    {
        @fragment
    }

    <button @onclick="DeleteAsync">Delete</button>
    <button>Cancel</button>
}
