@using Components.OperationRenderers

@inherits DeleteOperationRenderer

<h3>DeleteDefaultRenderer</h3>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsDeleted)
    {
        <p>Deleted</p>
        return;
    }

    <p>Are you sure to delete this object?</p>

    @RenderItem()

    <button @onclick="DeleteAsync">Delete</button>
    <button>Cancel</button>
}
