@using Components.OperationRenderers

@typeparam T
@inherits DeleteOperationRenderer<T>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsDeleted)
    {
        <p>Deleted</p>
        return;
    }

    <p>Are you sure to delete this object?</p>

    @RenderItem()

    <button @onclick="DeleteAsync">Delete</button>
    <button @onclick="() => NavigationManager.NavigateTo(BasePath)">Cancel</button>
}
