@using Components.OperationRenderers

@typeparam TOperation
@typeparam TResponse
@inherits DeleteOperationRenderer<TOperation, TResponse>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    if (IsDeleted)
    {
        <p>Deleted @(ResponseModel?.ToString() ?? string.Empty)</p>
        return;
    }

    <p>Are you sure to delete this object?</p>

    <MagicModel Model="OperationModel" />

    <button @onclick="DeleteAsync">Delete</button>
    <button @onclick="() => NavigationManager.NavigateTo(BasePath)">Cancel</button>
}
