@using Components.OperationRenderers

@inherits DetailsOperationRenderer

<h3>DetailsDefaultRenderer</h3>

@if (Errors is not null)
{
    <p>@Errors.ToString()</p>
}
else
{
    @foreach (var fragment in RenderFragments)
    {
        @fragment
    }
}
