@using Components.OperationRenderers

@inherits GetAllOperationRenderer

<h3>GetAllDefaultRenderer</h3>

@if (Errors is not null)
{
    <p>@Errors.ToString()</p>
}
else
{
    @System.Text.Json.JsonSerializer.Serialize(List)
}