@using System.Collections
@using Components.OperationRenderers

@typeparam T
@inherits GetAllOperationRenderer<T>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>
<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Go back</button>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else if (List is null)
{
    <p>Loading...</p>
}
else if (List is IEnumerable enumerableList)
{
    <table>
        <thead>
            <tr>
                <th>Param</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (object item in enumerableList)
            {
                <tr>
                    <td>Base API path</td>
                    <td>
                        @System.Text.Json.JsonSerializer.Serialize(item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @System.Text.Json.JsonSerializer.Serialize(List)

    <p>List does not implement IEnumerable</p>
}