@using Components.OperationRenderers

@inherits UpdateOperationRenderer

<h3>UpdateDefaultRenderer</h3>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    <EditForm Model="OperationModel">
        @RenderItem()
    </EditForm>
}
