@using Components.OperationRenderers

@typeparam T
@inherits UpdateOperationRenderer<T>

@inject NavigationManager NavigationManager

<h2>@OperationSchema.DisplayName</h2>

@if (ErrorModel is not null)
{
    <p>@ErrorModel.ToString()</p>
}
else
{
    <EditForm Model="OperationModel">
        @RenderItem()
    </EditForm>
}

<button @onclick="() => NavigationManager.NavigateTo(BasePath)">Cancel</button>