@inherits OperationPropertyRenderer<string>

@if (OperationSchema.IsCreateOrUpdate)
{
    <label>
        @PropertySchema.DisplayName
        <InputText @bind-Value="Value" />
    </label>
}
else
{
    <p>@PropertySchema.DisplayName: @Value</p>
}