@namespace RestCRUD.Components

@typeparam T
@inherits RestCRUD.Components.InputCheckboxMultipleComponent<T>

<div class="d-flex flex-column">
    <CascadingValue Value="@this" Name="InputCheckboxMultiple">
        @ChildContent
    </CascadingValue>
</div>