@page "/counter"

@if (isEditing)
{
    <h1 @onclick="Edit">Counter</h1>
}
else
{
    <h1 @onclick="Edit">Counter</h1>
}

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private bool isEditing = false;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void Edit()
    {
        isEditing = !isEditing;
    }
}
