@page "/"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Available examples</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="button">Default</a>
            <a class="button primary">Primary</a>
            <a class="button secondary">Secondary</a>
            <a class="button dark">Dark</a>
            <a class="button error">Error</a>
            <a class="button success">Success</a>
            <a class="button outline">Outline</a>
            <a class="button outline primary">Primary outline</a>
            <a class="button outline secondary">Secondary outline</a>
            <a class="button outline dark">Dark outline</a>
            <a class="button outline error">Error outline</a>
            <a class="button outline success">Success outline</a>
            <a class="button clear">Clear</a>
            <button type="button" class="button primary icon">
                New file
                <i class="fab fa-facebook"></i>
            </button>
            <button class="button icon-only">
                <i class="fab fa-facebook"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <WaveLoader />
            <WaveLoader IsAlternativeColor="true" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <EditForm Model="Model"
                      OnValidSubmit="HandleValidSubmit"
                      OnInvalidSubmit="HandleInValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <RenderFormElements></RenderFormElements>
                <button class="btn btn-primary" type="submit">Submit</button>
            </EditForm>
        </div>
    </div>
</section>

@code{

    private Models.SampleModel Model = new ();


    /// <summary>
    /// Will handle the submit action of the form
    /// </summary>
    /// <param name="context">The model with values as entered in the form</param>
    private void HandleValidSubmit(EditContext context)
    {
        // save your changes
    }

    private void HandleInValidSubmit(EditContext context)
    {


    }
}